@import "../../../../global.scss";

.tokyo {
    .top {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex: 5;

        .item {
            width: 300px;
            height: 300px;
            border-radius: 20px;
            border: 1px solid lightgray;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            transition: all .5s ease;
            cursor: pointer;

            h3 {
                position: absolute;
                font-size: 20px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover {
                background-color: rgb(250, 93, 93);
                img {
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }

        // img {
        //     display: flex;
        //     width: 300px;
        //     height: 300px;
        //     align-items: center;
        //     justify-content: center;
        //     margin-top: 80px;
        //     border-radius: 20px;
        //     z-index: 1;

        //     &:hover {
        //         background-color: rgb(250, 93, 93);
        //         img {
        //             opacity: 0.2;
        //             z-index: 0;
        //         }
        //     }
        // }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex: 5;

        .item {
            width: 300px;
            height: 300px;
            border-radius: 20px;
            border: 1px solid lightgray;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            transition: all .5s ease;
            cursor: pointer;

            h3 {
                position: absolute;
                font-size: 20px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover {
                background-color: rgb(250, 93, 93);
                img {
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }


    }
}